body, html {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  height: 100%;
  background-color: inherit;

}

html {
  background: url(img/rationalize-cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body:before {
    content: "";
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.4);
}


a,
a:hover,
a:visited{
  color: #5b9bd5;
  font-weight: bold;
}

.logo {
  width: 200px;
  margin-left: 200px;
}

.hello {
  margin: auto;
  margin-left: 200px;
  width: 80%;
  height: 30%;
  margin-top: 15%;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

.btn{
  background-color: #5b9bd5;
  border: none;
}

.btn:hover {
  background-color: #498dcb;
}

.dima {
  width: 150px;
  float: left;
  padding-right: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 30px; /* Vertically center the text there */
  background-color: rgba(0,0,0, 0.5);
  color: white;
  text-align: center;
  font-size: 12px;

}


/* Quote Syling */

blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Mobile Screen Adjustment */

@media only screen and (max-width: 680px) {
  .logo
{
    margin-left: 10px;
  }

  .hello {
        margin-top: 30%;
        margin-left: 0px;
        text-align: center;
        width: 100%;
  }
  .btn {
    position: absolute;
  left: 50%;
  margin-left: -80px;

  }
  .display-4 {
        font-size: 2em;
  }
}


@media only screen and (max-width: 860px) and (min-width: 680px){
  .logo, .hello
{
    margin-left: 50px;
  }
}
