body, html {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  height: 100%;
  background-color: inherit;
}

/* INDEX PAGE STYLING */

.masthead {
  margin-bottom: 2rem;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, .25);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #000;
  border-bottom-color: #000;
}

.indexContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255,255,255,1); */
  border-radius: 5px;
  padding: 20px;
  width: 80%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

}

html {
  background: url(rationalize-cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* DIV STYLES */

.wrapper {
  position:relative;
  height: 100%;
  overflow-y:scroll;
  background-color: rgba(255,255,255, 0.9);
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.tableDef {
  padding-left: 15px;
  padding-right: 15px;
  }

.criteria,
.options {
  height: 400px;
}

.criteria,
.options,
.tableDiv,
.saveCriteriaListButton {
  display: none;
}

.optionsOutput,
.criteriaOutput {
  overflow: scroll;
  height: 100%;
}

.tableDiv {
  text-align:center;
}
/* BUTTON STYLES */

.newCriteriaButton,
.newOptionButton,
.newDecisionButton,
.saveAllCriteriaButton,
.saveAllOptionsButton,
.calcRDbutton {
  background-color: #6DC0D5;
  border: none;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  color: white;
}

.newCriteriaButton:hover,
.newOptionButton:hover,
.newDecisionButton:hover,
.saveAllCriteriaButton:hover,
.saveAllOptionsButton:hover,
.calcRDbutton:hover {
  background-color: #006E90;
}

.eraseTableButton,
.removeSavedCriteria,
.removeSavedOptionButton {
  background-color: #d5826d;
  border: none;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin-top: 1em;
}

.eraseTableButton:hover,
.removeSavedCriteria:hover,
.removeSavedOptionButton:hover {
  background-color: #ca6045;
}

.saveAllCriteriaButton,
.saveAllOptionsButton {
  display: none;
}

.calcRDbutton,
.eraseTableButton {
  width: 80%;
  margin: 10px;

}

/* LINK STYLES */

h1 a,
h1 a:hover,
h1 a:visited {
  color: black;
  text-decoration: none;
}

/* RANDOM INDIVIDUAL ELEMENTS */




/* TABLE STYLES */

.scoringTable td {
  width: auto;
}

.cell{
  width: 100%;
  border: 1px solid #ccc;

}

table {
  width: 100%;
}

table td input {
  width: 100%;
}

/* LIST STYLES */

.newCriteriaList,
.optionAddList,
.optionsList,
.criteriaList {
  list-style: none;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

.newCriteriaList li,
.optionAddList li,
.optionsList li,
.criteriaList li {
  margin-top: 5px;
  margin-left: 0;
}




/* MARGIN ADJUST FOR A LARGER SCREEN (OTHER RESPONSIVE FEATURES ARE MADE VIA BOOTSTRAP) */

@media only screen and (min-width: 768px) {
  body, html {
    margin: 0 30px;
  }
  .calcRDbutton,
  .eraseTableButton {
    width: 40%;
  }

  .indexContainer {
    width: 50%;
  }

  /* .launchButton {
    width: 60%;
  } */
}

.dima {
  width: 40%;
  height: 40%;
  float: left;
  padding-right: 10px;
}

@media only screen and (max-width: 420px) {

.rHeader {
  font-size: 2em;
}
}

/* Font Definitions */

h1 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
}

h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
}
p {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

blockquote {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
